*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  color: red;
  background-color: aqua;
  text-align: center;
}
.img-div{
  height: 150;
  width: 200;
  text-align: center;
  margin: auto;
}